body{
    font-family: 'Arial' ,monospace;
    margin: 0;
    padding: 0;
    background-image: url('./wallpaperbetter.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}   

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}